@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  color: $base-dark;
  font-family: 'Source Sans Pro', sans-serif;
}
a {
  letter-spacing: 1px;
  text-decoration: none;
  color: $base-dark;
}
li {
  list-style: none;
}
.header-text-1{
  font-size: 50px;
  color: $lighter-purple;
  text-align: center;
}
.greetings{
  font-size: 30px;
  color: $lighter-purple;
  text-align: center;
}